.table {
  background-color: rgba($color: #000000, $alpha: 0.0);

  td, th {
    border-bottom: 1px solid #353637;
  }
}

.total-row {
  margin-left: 17px;
  margin-top: 15px;
}

.edit-button {
  opacity: 0;
}

.table tr:hover .edit-button {
  opacity: 1;
}
