@use '@angular/material' as mat;
@use 'lightgallery/scss/lightgallery';
@use 'lightgallery/scss/lg-zoom';
@use 'lightgallery/scss/lg-rotate';
@use './theme-colors' as theme;

html {
    color-scheme: dark;
    @include mat.theme((color: (primary: theme.$primary-palette), typography: Roboto, density: -2));
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}