@use 'lightgallery/scss/lightgallery';
@use 'lightgallery/scss/lg-zoom';
@use 'lightgallery/scss/lg-rotate';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}