@if (!item()) {
  <div>Loading...</div>
} @else {
  @if (item()!.fileType === 'Video') {
    <div class="video-container">
      <app-video-player [options]=getVideoOptions()></app-video-player>
    </div>
  }
  @if (item()!.fileType === 'Image') {
    <div class="image-container">
      <img [src]="getContentUrl()" alt="Content">
    </div>
  }

  <div class="controls-section">
    <mat-chip-set>
      @for (tag of item()!.tags; track $index) {
        <mat-chip>{{ tag }}</mat-chip>
      }
    </mat-chip-set>

    <button mat-icon-button (click)="toggleFavorite()">
      <mat-icon>{{ item()!.isFavorite ? 'star' : 'star_border' }}</mat-icon>
    </button>
  </div>
}

@if (similarItems().length > 0) {
  <h3>Similar items</h3>
  <app-image-grid [itemsList]="getSimilarItemsPaginatedList()"></app-image-grid>
}
