@if (!item()) {
  <div>Loading...</div>
} @else {
  @if (item()!.fileType === 'Video') {
    <div class="video-container">
      <app-video-player [options]=getVideoOptions()></app-video-player>
    </div>
  }
  @if (item()!.fileType === 'Image') {
    <div class="image-container">
      <img [src]="getContentUrl()" alt="Content">
    </div>
  }

  <div class="controls-section">
    <mat-chip-set>
      @for (tag of item()!.tags; track $index) {
        <mat-chip>{{ tag }}</mat-chip>
      }
    </mat-chip-set>

    <div class="right-side-controls">
      <div>
        <mat-chip>{{ item()!.viewCount }} views</mat-chip>
      </div>
      <button mat-icon-button (click)="toggleFavorite()">
        <mat-icon>{{ item()!.isFavorite ? 'star' : 'star_border' }}</mat-icon>
      </button>
      <button mat-icon-button (click)="edit()">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
}

@if (collection()) {
  <h4>{{ collection()!.name }}</h4>
  <app-image-grid [itemsList]="makeItemsPaginatedList(collection()!.items)"></app-image-grid>
}

@if (similarItems().length > 0) {
  <h4>Similar items</h4>
  <app-image-grid [itemsList]="makeItemsPaginatedList(similarItems())"></app-image-grid>
}
