<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened class="sidenav" fixedInViewport="true">
        <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-header [sidenav]="sidenav" (zoomIn)="imageGrid.decreaseCols()"
            (zoomOut)="imageGrid.increaseCols()"></app-header>
        <div class="main-content">
            <app-image-grid #imageGrid></app-image-grid>
        </div>
        <router-outlet />
    </mat-sidenav-content>
</mat-sidenav-container>