.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.content-container {
    margin-top: 65px;
}

.sidebar {
    margin-top: 54px;
    width: 270px;
    border-radius: 0;
}