<lightgallery [onInit]="onGalleryInit" [settings]="gallerySettings()" class="gallery">
  <table [dataSource]="itemsList().items" class="mat-elevation-z8 table" mat-table>
    <ng-container matColumnDef="image">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let element" mat-cell>
        @if (element.fileType == fileTypes.Image) {
          <div class="gallery-item" [attr.data-src]="getFullContentPath(element.path)">
            <img class="gallery-item-image" [src]="getFullThumbnailPath(element.thumbnailPath)" alt=""/>
          </div>
        }
        @if (element.fileType == fileTypes.Video) {
          <div class="gallery-item" [attr.data-video]="getVideoData(element)">
            <img class="gallery-item-image" [src]="getFullThumbnailPath(element.thumbnailPath)" alt=""/>
          </div>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th *matHeaderCellDef mat-header-cell>Duration</th>
      <td *matCellDef="let element" mat-cell>
        @if (element.videoDuration) {
          {{ element.videoDuration }}
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="tags">
      <th *matHeaderCellDef mat-header-cell> Tags</th>
      <td *matCellDef="let element" mat-cell>
        <mat-chip-set>
          @for (tag of element.tags; track $index) {
            <mat-chip>{{ tag }}</mat-chip>
          }
        </mat-chip-set>
      </td>
    </ng-container>

    <ng-container matColumnDef="collection">
      <th *matHeaderCellDef mat-header-cell> Collection</th>
      <td *matCellDef="let element" mat-cell>
        {{ getCollectionName(element.collectionId) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="uploadedOn">
      <th *matHeaderCellDef mat-header-cell> Uploaded on</th>
      <td *matCellDef="let element" mat-cell> {{ element.uploadedOn | date: 'dd.MM.yyyy' }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="editItem(element)" class="edit-button" mat-button>Edit</button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</lightgallery>
