:host {
  display: block;
  margin: 0 12px;
}

a {
  all: unset;
}

mat-selection-list {
  padding: 0;
}

mat-list-item {
  margin: 10px 0;
  border-radius: 0.2rem;
}

.item-active,
.item-active:hover {
  * {
    color: #5c77aa;
  }
}
