.header {
  display: flex;
  align-items: center;
}

.close-button {
  margin-left: auto;
}

.main-section {
  display: flex;
  gap: 15px;

  h3 {
    margin-top: 0;
  }
}

.item-image {
  object-fit: cover;
  border-radius: 0.2rem;
  width: 200px;
  height: 200px;
}

.tags-section {
  margin-top: 15px;
}
