<lightgallery [onInit]="onGalleryInit" [settings]="gallerySettings()"
              [style.grid-template-columns]="'repeat(' + getGridColumns() + ', 1fr)'"
              class="gallery">
  @for (libraryItem of itemsList().items; track $index) {
    @if (libraryItem.fileType == fileTypes.Image) {
      <a class="gallery-item" [href]="getFullContentPath(libraryItem.path)" [matTooltip]="getTagsTooltip(libraryItem)">
        <img class="gallery-item-image" [src]="getFullThumbnailPath(libraryItem.thumbnailPath)" alt=""/>
      </a>
    }
    @if (libraryItem.fileType == fileTypes.Video) {
      <a class="gallery-item" href="" [attr.data-video]="getVideoData(libraryItem)"
         [matTooltip]="getTagsTooltip(libraryItem)">
        <img class="gallery-item-image" [src]="getFullThumbnailPath(libraryItem.thumbnailPath)" alt=""/>
        <span class="video-duration">{{ libraryItem.videoDuration }}</span>
      </a>
    }
  }
</lightgallery>
