.gallery {
    display: flex;
    flex-wrap: wrap;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 3px 0;
}

.gallery a {
    margin: 0 3px;
}

.gallery img {
    object-fit: cover;
    border-radius: 0.5rem;
}