.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.gallery-item-image {
    object-fit: cover;
    border-radius: 0.5rem;
    width: 100%;
    aspect-ratio: 3/2; // TODO: configure in settings
}