@if (collections().length > 0) {
  <div class="collections-grid">
    @for (element of collections(); track element.id) {
      <div class="collection-card" (click)="editItem(element)">
        <div class="cover-container">
          @if (element.coverPath) {
            <img [src]="getFullCoverPath(element.coverPath)" alt="cover" class="cover-image"/>
          } @else {
            <mat-icon>hide_image</mat-icon>
          }
        </div>
        <div class="collection-title">{{ element.name }}</div>
      </div>
    }
  </div>

  <div class="total-row">
    Total: {{ collections().length }}
  </div>
}

<button (click)="addCollection()" class="add-button" mat-fab>
  <mat-icon>add</mat-icon>
</button>
