.header {
    display: flex;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 254px;
    flex-shrink: 0;
}

.search-bar {
    width: 100%;
}

.controls {
    margin-left: 10px;
}