.header {
  display: flex;
  padding: 0 7px 0 16px;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 254px;
  flex-shrink: 0;
}

.search-bar {
  width: 100%;
}

.button-group {
  display: inline-flex;
  align-items: center;
  background-color: #1e1e1e;
  border-radius: 30px;
  padding: 8px 16px;
  margin-left: 10px;
}
