<mat-toolbar class="header" color="primary">
    <div class="title">
        <button mat-icon-button (click)="toggleSidebar()">
            <mat-icon>more_vert</mat-icon>
        </button>
        <h2>Tag Files</h2>
    </div>
    <mat-form-field class="search-field" appearance="outline" subscriptSizing="dynamic">
        <input matInput placeholder="Search">
    </mat-form-field>
    <div>
        <button mat-icon-button (click)="onAddClick()">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button (click)="onRemoveClick()">
            <mat-icon>remove</mat-icon>
        </button>
    </div>
</mat-toolbar>