<header class="p-2 text-bg-dark">
    <div class="container-fluid">
        <div class="header-container">
            <div class="header-title">
                <button class="btn btn-dark" (click)="toggleSidebar()">
                    <i class="bi bi-list"></i>
                </button>
                <a class="navbar-brand" href="#">Tag Files</a>
            </div>

            <form class="header-search-field" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search...">
            </form>

            <div class="header-controls">
                <button class="btn btn-dark" (click)="onAddClick()">
                    <i class="bi bi-plus-lg"></i>
                </button>
                <button class="btn btn-dark" (click)="onRemoveClick()">
                    <i class="bi bi-dash-lg"></i>
                </button>
            </div>
        </div>
    </div>
</header>