.form-control::placeholder {
    color: #ffffff;
}

.header-container {
    display: flex;
    gap: 30px;
}

.header-title {
    display: flex;
    gap: 5px;
    align-items: center;
}

.header-search-field {
    width: 100%;
}

.header-controls {
    display: flex;
}